html{
    font-size:16px;
}
*{
    padding:0;
    margin:0;
}
.formSwitchBtn img{
    width:30px;
    height:30px;
}
.formSwitchBtn li{
    list-style:none;
    font-size:1rem;
}
.formManipulate{
    display:flex;
    margin-top:10rem;
}
.formGenerate{
    border:1px solid black;
    width:25vw;
    padding:1rem;
    height:30%;
    margin-right:0.5rem;
    box-shadow:10px 10px 25px 1px rgba(0,0,0,0.5)
}
.formSwitchBtn button{
    width:70%;
    margin-left:1.3rem;
    margin-bottom:1.2rem;
}
.formSwitchBtn button:focus{
    border:2px solid black;
}
.area label{
    display:block;
    text-align:left;
    font-weight:bold;
}
.area label,.area input,textarea{
    font-size:1rem;
    width:100%;
}
.area{
    margin-right:1rem;
}
.formRow{
    display:flex;
    margin-bottom:1rem;
}
.btnFunctionList .funcBtn{
   background-color:black;
}
.outsideContainer{
    display:flex;
}
#CV{
    display:grid;
    grid-template-rows:min-content 1fr;
    width:850px;
    height:100%;
}
.CVHeader{
    grid-row:1/2;
    padding:1rem;
}
.CVHeader h2{
    font-size:3rem;

    direction:rtl;
}
.CVHeader h3{
    font-size:1.7rem;
    direction:rtl;
}
.CVHeader p{
    margin-right:2.2rem;
}
.CVMain{
    display:grid;
    grid-row:2/3;
    grid-template-rows: 1fr 1fr;
    border:1px solid;
    padding:1rem;
}
.row1{
    grid-row:1/2;
    display:grid;
    grid-template-columns:1fr 200px;
    border:1px solid;
}
.btnFunctionList{
    display:flex;
    flex-direction: column;
    align-items:center;
    gap:1rem;
    margin-right:2rem;
}
.btnFunctionList li img,.outsideContainer ul img{
    width:20px;
    height:20px;
}
.outsideContainer ul {
    margin-left:1rem;
}
.container h1{
    text-decoration: underline;
    text-indent: 0cap;
    margin-bottom:2rem;
    margin-top:0.5rem;
    font-style: italic;
}
.outsideContainer ul li{
    list-style:none;
}
.outsideContainer li button{
    background-color:black;
    margin-bottom:0.4rem;
}
.btnFunctionList button{
    width:4rem;
    text-align:center;
    padding:0.25rem;
    color:white;
}
.btnFunctionList li{
    list-style:none;
}
.row2{
    grid-row:2/3;
    display:grid;
    grid-template-columns:1fr 200px;
    border:1px solid;
}
.workHistorySection{
    grid-column:1/2;
    border:1px solid;
}
.workHistorySection,.educationSection,.contactSection,.skillsSection{
    padding:1rem;
}
.brushBtn{
    background-color:rgb(167, 28, 28);
}
.loadBtn{
    background-color:rgb(15, 105, 15)
}
.infoBtn{
    background-color:rgb(26, 26, 148);
}

.contactSection{
    grid-column:2/3;
    border:1px solid;
}
.educationSection{
    grid-column:1/2;
    border:1px solid;
}
.skillsSection{
    grid-column:2/3;
    border:1px solid;
}
.contactSection ul li,.skillsSection,.educationSection{
    word-break: break-word;
}
.theApp{
    display:flex;
    border:1px solid;
    width:100vw;
    background-color:rgb(255, 253, 251);
    justify-content: center;
}
.contactSection ul li{
    list-style:none;
    margin-top:0.7rem;
}
ul li .row{
    display:flex;
    align-items: center;
    gap:0.2rem;
}
.contactSection span{
    font-weight:bold;
}
#CV{
    height:1500px;
}
#CV img{
    width:25px;
    height:25px;
}
.CVHeader{
    background-color:rgb(31, 31, 121);
    color:white;
}
.educationBtn,.generalInfoBtn,.workHistoryBtn,.skillsBtn{
    padding:0.5rem 1rem;
}
.btnList{
    margin-right:1rem;
}
.fullname{
    direction:rtl;
    font-size:3rem;
    font-weight:bold;
}
.fullname span:first-child{
    margin-right:0.5rem;
}
.dataSetDiv{
    display:flex;
    justify-content: space-between;
    background-color:rgb(22, 22, 95);
    color:white;
    margin-bottom:0.5rem;
    padding:0.3rem;
}
.dataSetDiv button{
    padding:0.4rem 1rem;
    margin-right:0.5rem;
}
.dateFormat span:nth-child(2){
    margin:0 1rem;
    font-size:1.2rem;
}
.theDateFormat{
    display:flex;
    justify-content: space-between;
}
.dataList{
    overflow-y:auto;
    scroll-behavior: auto;
    background-color:rgb(218, 29, 29);
    height:7vh;
    padding:1rem;
}
.flex{
    display:flex;
}
.workAnswer{
    margin-left:1rem;
}
.eduList li{
    list-style:none;
}
.skills li{
    list-style:none
}
.blurLayer{
    width:100vw;
    height:100vh;
    background-color:black;
    opacity:0.5;
    position:fixed;
    top:0;
    left:0;
    z-index:998;
}
.box{
    width:40%;
    position:fixed;
    z-index:999;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:white;
    text-align:center;
}
.box h2,.box p{
    margin:1rem 0;
}
.box Button:first-child{
    margin-right:1rem;
}
.colorBoard{
    display:flex;
    flex-direction:column;

}

.colorBoard{
    background-color:lightgrey;
    width:min-content;
    padding:0.5rem;
}
.colorBoard .colorMarker{
    width:30px;
    height:30px;
    border-radius:30px;
    padding:0;
}
.colorMarker.color1{
    background-color:brown;
}
.colorMarker.color2{
    background-color:rgb(10, 10, 100);
}
.colorMarker.color3{
    background-color:rgb(177, 102, 11);
}
.colorMarker.color4{
    background-color:black;
}
.buttonFunctionContainer{
    display:flex;
    flex-direction: column;
    align-items:center;
}
@media screen and (max-width:1600px){
    .formSwitchBtn li p{
        display:none;
    }
   .btnFunctionList li p{
    display:none;
   }
   .formSwitchBtn nav ul,.btnFunctionList{
    display:flex;
    flex-direction:row;
    margin:0.4rem 0;
   }
   .btnFunctionList{
    margin-top:1.5rem;
    justify-content:flex-end;
    margin-right:0.5rem;
   }
   .formManipulate{
    flex-direction: column;
    margin-right:2rem;
   }
   .outsideContainer{
    flex-direction: column-reverse;
   }
   .colorBoard{
    flex-direction: row;
    margin-bottom:0.3rem;
   }
   .buttonFunctionContainer,.colorBoard,.buttonFunction{
    display:flex;
    flex-direction: row;
   }
   .funcBtn{
    margin-right:1rem;
   }
   #CV{
    width:700px;
   }
   .dataSetDiv button{
    padding:0.2rem 0.2rem;
   }
}
@media screen and (max-width:1100px){
    .theApp{
        flex-direction:column
    }
    #CV{
        width:800px;
    }
    .formGenerate{
        width:60vw;
        height:450px;
    }
    .formManipulate{
        margin:auto;
    }
    .formSwitchBtn nav ul{
        justify-content:center;
        margin-top:2rem;
    }
    #CV{
        display:block;
        margin:auto;
        width:95vw;
    }
    .container{
        margin-top:2rem;
    }
    .container h1{
        text-align: center;
    }
    .buttonFunction{
        margin-left:5rem;
    }
}